
body {
  background-image: url(darb.jpg.png);
}


h2 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: white;
  color: black;

}

h4 {
  width: 24%;
  border: 3px solid black;
  padding: 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f1f1f1;
}

h4{
    background-image: url("b.jpg.png");
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
h4:hover {
  background-color: black;
  color: white;
}

body {
  margin:0;
  padding:20px;
}



body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #3a8;
}
